<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["AgentBlazor.styles.css"]" />
    <link rel="stylesheet" href="css/output.css" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="bg-gray-100 dark:bg-[#161616] h-screen text-gray-800 dark:text-white font-poppins custom-scrollbar">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/script.js"></script>
    <script src="js/hero-animation.js"></script>
</body>

</html>
